@import "tailwindcss";

:root {
  --header-tmp: #f1a960;
  --header: #4f39f6;
  --text: #ffffff;
  --text-notice: #364153;
  --select: #ffffff;
  --btn: #155dfc;
  --btn-hover: #1447e6;
  --btn-text: #ffffff;
}

/*  */